<div class="list row" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-6">
    <h4>Lista DataSens - Paciente</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let datasens of dataSens; let i = index"

        (click)="setActiveDataSens(datasens, i)">
        {{ datasens.key }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllDataSens()">
      Eliminar Todo
    </button>
  </div>

  <div class="col-md-6">
    <div *ngIf="dataSens2">
      <h4>Detalle Sensor - Paciente</h4>

      <ul class="list-group">
        <li class="list-group-item" *ngFor="let dato of dataSens2; let i = index"
            [class.active]="i == currentIndex2"
            (click)="setActiveDataSensDetail(dato,i)">
          {{ dato.key }}
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="currentDataSens2">
  <br>
  <br>
  <h4 >Detalle Values - Sensor </h4>

  <div class="center">
    <ul class="list-group">
      <li>
        <h5> Titulo ---- :  {{ currentDataSens2.title }}</h5>
      </li>
      <li>
        <h5>  Descripción ---- : {{ currentDataSens2.description }}</h5>
      </li>
      <li>
        <h5> Valor ---- : {{ currentDataSens2.value }}</h5>
      </li>
    </ul>
  </div>
  <br>
  <div>
    <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height: '360px'}" (chartInstance)="getChartInstance($event)"></canvasjs-chart>
  </div>

</div>



