<div class="list row">
  <div class="col-md-6">
    <h4>Lista DataSens - Paciente</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let datasens of dataSens; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveDataSens(datasens, i)"
      >
        {{ datasens.key }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllDataSens()">
      Eliminar Todo
    </button>
  </div>

  <div class="col-md-6">
    <div *ngIf="currentDataSens">
      <app-datasens-details
        (refreshList)="refreshList()"
        [dataSens]="currentDataSens"
      ></app-datasens-details>
    </div>

    <div *ngIf="!currentDataSens">
      <br />
      <p>Click en DataSens...</p>
    </div>
  </div>
</div>
